bin
Bin
obj
*.FileListAbsolute.txt.txt
/Forcom.Perspectiv.suo
/TestResult.xml
/StatLightTestResult.*
*ReSharper*
*.user
*.Publish.xml
*.xap
!Forcom.Custom.Leclerc.AssortmentManagement.Reports.WebClient.xap
!3rdParty/**/*.xap
*.bak
*.csproj.user
*.suo
*.Publish.xml
_dir
*.userprefs
/Forcom.AreaManager.Module/Reports/Templates/*.jasper
*.resources
*.test-cache